{% extends "base.html" %}

{% block content %}

<h2>User Registration</h2>

<form>

    <label>Full Name</label><br>
    <input type="text" placeholder="Enter Full Name"><br><br>

    <label>Email</label><br>
    <input type="email" placeholder="Enter Email"><br><br>

    <label>Mobile Number</label><br>
    <input type="text" placeholder="Enter Mobile Number"><br><br>

    <label>Password</label><br>
    <input type="password" placeholder="Enter Password"><br><br>

    <label>Confirm Password</label><br>
    <input type="password" placeholder="Confirm Password"><br><br>

    <button type="submit">
        Register
    </button>

</form>

{% endblock %}