# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
.env

# SQLite
db.sqlite3

# IDE
.vscode/
.idea/

# Python cache
.pytest_cache/
*.log

# OS
.DS_Store
Thumbs.db

# Uploads
uploads/*
!uploads/.gitkeep