# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# ==========================
# Virtual Environment
# ==========================
venv/
.venv/
env/
ENV/

# ==========================
# Environment Variables
# ==========================
.env
.env.*

# ==========================
# Database
# ==========================
db.sqlite3
*.sqlite3

# ==========================
# IDE
# ==========================
.vscode/
.idea/
*.swp

# ==========================
# Python Cache
# ==========================
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/
*.log

# ==========================
# Django
# ==========================
media/
staticfiles/

# ==========================
# Uploads
# ==========================
uploads/*
!uploads/.gitkeep

# ==========================
# Build
# ==========================
build/
dist/
*.egg-info/

# ==========================
# Jupyter
# ==========================
.ipynb_checkpoints/

# ==========================
# Operating System
# ==========================
.DS_Store
Thumbs.db
desktop.ini