{% extends "base.html" %}

{% block content %}

<h2>Search Vehicle</h2>

<form method="GET">

    <input
        type="text"
        name="vehicle_number"
        placeholder="Enter Vehicle Number">

    <button type="submit">
        Search
    </button>

</form>

<br>

<table border="1">

<tr>

<th>Vehicle</th>
<th>Owner</th>
<th>Violation</th>
<th>Fine</th>

</tr>

{% for violation in violations %}

<tr>

<td>{{ violation.vehicle_number }}</td>
<td>{{ violation.owner_name }}</td>
<td>{{ violation.violation_type }}</td>
<td>{{ violation.fine_amount }}</td>

</tr>

{% empty %}

<tr>

<td colspan="4">

No Matching Vehicle Found

</td>

</tr>

{% endfor %}

</table>

{% endblock %}